@font-face {
  font-family: 'HelvethaicaMon Med';
  src: url('db_helvethaica_x_med-webfont.eot');
  src: url('db_helvethaica_x_med-webfont.woff') format('woff'), url('db_helvethaica_x_med-webfont.ttf') format('truetype'), url('db_helvethaica_x_med-webfont.svgz#DBHelvethaicaX65Medium') format('svg'), url('db_helvethaica_x_med-webfont.svg#DBHelvethaicaX65Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PSLxKittithadaBold';
  src: url('pslxkittithada_bold-webfont.eot');
  src: url('pslxkittithada_bold-webfont.eot?#iefix') format('embedded-opentype'), /* url('pslxkittithada_bold-webfont.woff') format('woff'), */
   url('pslxkittithada_bold-webfont.ttf') format('truetype'), url('pslxkittithada_bold-webfont.svg#PSLxKittithadaBold') format('svg');
  font-weight: normal!important;
  font-style: normal;
}
.ff-helvetica {
  font-family: 'HelvethaicaMon Med', Arial, Helvetica;
}
.ff-psl {
  font-family: 'PSLxKittithadaBold';
}
html,
html a {
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
